.carousel {
  position: relative;
  &__arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem 0.5rem;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    border: none;
    outline: none;
    &--left {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
    &--right {
      right: 0;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    &-icon {
      width: 1rem;
      fill: rgb(255, 255, 255);
    }
  }
}

.slide {
  position: absolute;
  top: 0;
  opacity: 0;
  &--active {
    position: relative;
    opacity: 1;
  }
}
